element.style {
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
  color: palegoldenrod;
  line-height: 1.6;
  margin: 0%;
  text-align: center;
  font-size: larger;
  background-image: url(https://pin.it/YMPKNoDWThttps://www.pinterest.com/pin/601512094017157990/);
}

* {
  margin: 0%;
  box-sizing: border-box;
}
user agent stylesheet body {
  display: block;
  margin: 8px;
}
